<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/login.css' %}">
</head>
<body>
    <div>
        <h1>Login Account</h1>
        <form action="{% url 'dashboard' %}" method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" id="login_btn" value="Login">
        </form>
    </div>
    <div class="links">
        <a href="/forgot-password" id="forgot-password">Forgot Password?</a>
        <a href="/register" id="create-account">Register Account</a>
    </div>
</div>
</body>
</html>
